h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}


.grid_3 {
  display: grid;
  width: 30%;
  float: left;  
  position: relative;  
  left: 35%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.grid_4 {
  display: grid;
  width: 40%;
  float: left;  
  position: relative;  
  left: 32%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}
.grid_5 {
  display: grid;
  width: 40%;
  float: left;  
  position: relative;  
  left: 30%;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  border: 2px black solid;  
  align-items: center;
  padding: 10%;
  background-color: white;
  color: black;
}


