<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Bicycle Graham Bingo Generator</title>
</head>
<body>

   <h1>Who's Riding Bicycle Graham?</h1>
    {% if length == 9: %}
    <div class="grid_3">
    {% elif length == 16: %}
    <div class="grid_4">
    {% elif length == 25: %}
    <div class="grid_5">
    {% endif %}

    {% for item in card[0:] %}
    <div class="square">{{ item }}</div>
    {% endfor %}
    </div>



</body>
</html>


