<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bicycle Graham Bingo: select options</title>
</head>
<body>

<p><i>Select your options here. Once generated, cards are not automatically saved. If you would like to save your card, screenshot it; if you would like to generate a new card, use the back button to return to this menu.</i></p>

<form method="POST" action="/card">

<h1>Select size of card:</h1>
    <select name="size">
    <option value="{{sizes[0]}}" selected>{{sizes[0]}}</option>
    {% for size in sizes[1:] %}
    <option value="{{size}}">{{size}}</option>
    {% endfor %}
    </select><br>
    <h1>Hannibal Lecter free space?</h1>
    <input type="checkbox" name="free_space"/><br>
    <br>
<input type="submit" value="Submit">

</form>


</body>
</html>


